DATABASE_URL="postgresql://USER:PASSWORD@POOLER_HOST:6543/DBNAME?pgbouncer=true&connection_limit=1&sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:5432/DBNAME?sslmode=require"
JWT_SECRET="ganti_dengan_random_secret"
JWT_EXPIRES_IN="12h"
BOOTSTRAP_TOKEN="token_untuk_buat_admin_pertama"
CORS_ORIGIN="*"
